on:
  push:
    branches: [master]
  pull_request:

name: Continuous integration

jobs:
  ci:
    strategy:
      matrix:
        platform: [ubuntu-latest]
        toolchain: [stable]
        runtime:
          - with-async_std-1
          - with-smol-1
          - with-tokio-1
          - with-wasm_bindgen-0_2
    runs-on: ${{ matrix.platform }}

    steps:
      - name: Checkout Sources
        uses: actions/checkout@v2

      - name: Install Rust Toolchain
        uses: actions-rs/toolchain@v1.0.7
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true
          component: rustfmt, clippy

      - name: Check Code Format
        uses: actions-rs/cargo@v1.0.3
        with:
          command: fmt
          args: -- --check

      - name: Check Code Lint
        uses: actions-rs/cargo@v1.0.3
        with:
          command: clippy
          args: --all-features --all-targets -- -D warnings

      - name: Build Examples
        uses: actions-rs/cargo@v1.0.3
        with:
          command: build
          args: --verbose --examples --features ${{ matrix.runtime }}

      - name: Test
        uses: actions-rs/cargo@v1.0.3
        with:
          command: test
          args: --lib --tests --features ${{ matrix.runtime }}
