on:
  push:
    branches: [master]
  pull_request:

name: Continuous integration

jobs:
  ci:
    strategy:
      matrix:
        toolchain: [
          stable,
          beta,
          1.56.0 # MSRV
        ]
        args: [
          --all-features,
          --no-default-features,
        ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1.0.7
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v1
        with:
          key: ${{ matrix.args }}

      - run: cargo fmt -- --check

      - run: cargo clippy --workspace --all-targets ${{ matrix.args }} -- -D warnings

      - run: cargo test --workspace ${{ matrix.args }}
